*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body {
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    display: none;
}

.navbar1{
    display: flex;
    width: 100vw;
    height: 91px;
    border-bottom: 1px solid rgba(61, 61, 61, 0.192);
}

.header-data span a{
    color: red;
    font-size: 50px;
    padding: 0 0 0 44;
    margin-left: 20px;
    /* margin-top: PX; */
    text-transform: capitalize;
    font-weight: 700;
    width: 100vw;
    position: relative;
    top: 12%;
    text-decoration: none;
    


}
.signin-btn{
    width: 100vw;
    height: 91px;
}
.header-data .signin-btn a{
    position: relative;
    left: 86rem;
    bottom: 12%;
    color: #333333;
    text-decoration: none;
    font-size: 16.5px;
}

.regcontainter{
    display: grid;
    width: 500px;
    height: 550px;
    
}

.reg-data{
    position: relative;
    left: 45rem;
    top: -5rem;
    /* width: 280px;
    height: 500; */
    
    
}
button{
    position: relative;
    padding: 20px 48px;
    background-color: #E50914;
    height: 65px;
    width: 440px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    color: #ffff;
    font-size: 24px;
    cursor: pointer;
   
}
.img{
    height: 210px;
    width: 280px;
}
.reg-data img{
    height: 90px;
    width: 280px;

}
.reg-data span{
    text-align: center;
    position: relative;
    bottom: 5rem;
    right: 0rem;
    font-size: 13px;
}

.reg-data h1{
    /* text-align: center; */
    position: relative;
    bottom: 5rem;
    right: 0rem;
    color: #333333;
    
}

.reg-bottom {
    font-size: 18px;
    color: #333333;
    position: relative;
    bottom: 4rem;
    right: 0rem;
    /* text-align: center; */
}

.input-box{
    display: grid;
}

.input-box input{
    height: 50px;
    width: 440px;
    position: relative;
    bottom: 3rem;
    border-radius: 5px;
    border: 0;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    padding: 10px 11px;
    appearance: none;
    color: #131212;
}

.blue{
    color: blue;
}

.footer{
    height: 242px;
    width: 100vw;
    background-color: rgba(82, 82, 82, 0.11);
    position: relative;
    top: -89%;
    /* display: flex; */
    
    
}

.footer-data{
    position: relative;
    left: 5%;
    top: 10%;
    color: #737373;
}



.foot{
    position: relative;
    left: 5%;
    top: 25%;
    color: #737373;
}

.foot1{
    position: relative;
    left: 8%;
    top: 25%;
    color: #737373;
}
.foot2{
    position: relative;
    left: 12%;
    top: 25%;
    color: #737373;
}
.foot3{
    position: relative;
    left: 16%;
    top: 25%;
    color: #737373;
}
.foot4{
    position: relative;
    left: -11%;
    top: 40%;
    color: #737373;
}
.foot5{
    position: relative;
    left: -6.2%;
    top: 40%;
    color: #737373;
}

.lang{
    height: 50px;
    position: relative;
    left: -28%;
    top:60% ;
    width: 122px;
    text-align: center;
    color: #737373;
}


@media (min-width: 360px)  and (max-width: 570px){
    .reg-data{
        position: relative;
        left: 5%;
        
    }

   #passInputBox ,#password,#createAccountBtn,.heading{
        width: 60%;
    }

    #passInputBox ,#password{
        margin-top: 5px;
        border-radius: 10px;
    }

}